---
import Layout from "../layouts/Layout.astro";

const allPosts = await Astro.glob("../pages/post/*.md");
const finishedPosts = allPosts.filter((post) => !post.frontmatter.draft);
---

<Layout title="Blog">
  {
    finishedPosts.map((post) => {
      const { title, description, date } = post.frontmatter;
      const { url } = post;

      return (
        <div class="flex flex-col gap-1 max-w-full overflow-hidden">
          <a href={url} class="text-lg lg:text-xl">
            {title}
          </a>
          <span class="text-gray-500 text-sm lg:text-base">{date}</span>
          <a
            href={url}
            class="border-b w-max block mt-4 line-clamp-1 text-sm lg:text-base"
          >
            {description}
          </a>
        </div>
      );
    })
  }
</Layout>
