---
import DateDisplay from "../components/DateDisplay.astro";
import PageLayout from "./PageLayout.astro";
import { Icon } from 'astro-icon'

const {frontmatter} = Astro.props;
const { title, description, imgSrc, date } = frontmatter

---

<PageLayout title={title}>
  <div class="flex flex-col gap-6">
    <div class="lg:mt-12 text-left flex flex-col gap-4">
      <div class="relative">
        <a href="/blog" class="hover:text-gray-400 mb-6 lg:mb-0 lg:absolute -left-16 flex items-center gap-2"><Icon name="mdi:arrow-back" class="w-6 lg:w-12 transition-colors" /><span class="block lg:hidden">Back</span></a>
        <h1 class="text-2xl md:text-4xl font-bold" transition:name="post-title">{title}</h1>
      </div>
      <span class="text-gray-300" transition:name="post-description">{description}</span>
    </div>
    <hr class="border-gray-500">
    <DateDisplay {date} />
    {imgSrc && <img src={imgSrc} alt="Blog" class="rounded-2xl w-full h-48 lg:h-96 object-cover">}
  </div>
  <div class="md:text-lg text-left mt-6 lg:mt-12" id="postWrapper">
    <slot />
  </div>
</PageLayout>

<style>
  #postWrapper > :global(h2) {
    font-size: 2rem;
    font-weight: 600;
    margin-top: 3rem;
    margin-bottom: 1rem;
  }

  #postWrapper > :global(ul), #postWrapper > :global(blockquote > ul) {
    list-style-type: disc;
    list-style-position: inside;
    padding: 12px 0;
  }

  #postWrapper > :global(ul > li) {
    margin: 8px 0;
  }

  #postWrapper > :global(pre) {
    padding: 8px;
    border-radius: 8px;
    margin: 24px 0;
  }

  #postWrapper > :global(p > img) {
    margin: 32px auto;
  }

  #postWrapper > :global(ul > li > code) {
    padding: 4px;
    background-color: #1d1d1d;
  }

  #postWrapper > :global(blockquote) {
    font-style: italic;
    margin: 16px 0;
    margin-left: 16px;
    padding-left: 32px;
    border-left: 1px solid white;
    position: relative;
    width: 100%;
  }

  #postWrapper > :global(blockquote::before) {
    content: open-quote;
    position: absolute;
    font-size: 2.5rem;
    left: 8px;
    top: 0px;
  }

  #postWrapper > :global(blockquote::after) {
    content: close-quote;
    position: absolute;
    font-size: 2.5rem;
    right: -18px;
    bottom: 12px;
  }

  @media (max-width: 1024px) {

    #postWrapper > :global(h2) {
      font-size: 1.5rem;
    }
    #postWrapper > :global(blockquote) {
      margin-left: 12px;
      padding-left: 12px;
    }
    #postWrapper > :global(blockquote::before) {
    font-size: 1.5rem;
    top: -8px;
    left: 2px;
  }

  #postWrapper > :global(blockquote::after) {
    content: '';
  }
    
  }
</style>
